.calc_title_name {
  font-weight: 700;
  font-size: 48px;
  /* margin-left: 130px; */
  height: 58px;
  margin-bottom: 0;
}

.calc_title_line {
  width: 35vw;
  margin-left: calc(50% - 50vw);
  height: 9px;
  background-color: #00512e;
}

.value {
  font-family: "Inter", sans-serif;
}

.but_filter {
  width: 280px;
  height: 50px;
  top: 10px;
  background-color: #00512e;
  color: white;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 600;
}

.button_location {
  display: flex;
  justify-content: space-evenly;
}

.but_filter_second {
  width: 280px;
  height: 50px;
  top: 10px;
  border-radius: 7px;
  font-size: 18px;
  background-color: #fff;
  color: #989898;
  font-weight: 600;
  transition: 0.2s ease-out;
}

.but_filter_second svg path {
  fill: #989898;
}

.but_filter_second.but_active {
  background-color: #00512e;
  color: white;
}
.but_filter_second.but_active svg path {
  fill: #fff;
}

.currency {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  font-family: "Inter", sans-serif;
}

.point {
  display: grid;
  grid-template: 1fr / min-content auto;
  grid-gap: 5px;
  margin-top: 30px;
}

.calc_info {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-gap: 80px;
  padding: 0;
}

.point_name {
  width: max-content;
  font-size: 18px;
  font-weight: 400;
}

.point_price {
  position: relative;
  width: 100%;
  font-size: 18px;
  color: #ffd600;
  font-family: "NEXT";
  display: grid;
  grid-template: 1fr / auto min-content;
}
.point_price > div {
  width: 100%;
  border-bottom: 1px dashed #ff9c00;
  margin-bottom: 13px;
}

.but_group {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}

.last_but {
  background-color: #ffd600;
  width: 217px;
  height: 50px;
  border-radius: 10px !important;
  color: #000;
  font-size: 18px;
  margin-left: 30px;
}

.first_but {
  border-radius: 10px;
  width: 101px;
  font-size: 18px;
  color: #989898;
  background-color: #fff;
}

.second_but {
  border-radius: 10px !important;
  font-size: 18px;
  background-color: #fff;
  color: #989898;
  width: 101px;
}

.third_but {
  border-radius: 10px !important;
  font-size: 18px;
  background-color: #fff;
  color: #989898;
  width: 101px;
}

.compute {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #ffd600;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}

.account {
  margin-top: 150px;
}

.select {
  height: 48px;
  width: 100%;
  background: #00512e;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #fff;
  padding: 0 10px;
}

.last_one {
  height: 120px;
}

.main_buttons button {
  background-color: #fff;
}

.currency_button {
  border-radius: 10px !important;
  color: #989898;
  border-color: #fff !important;
}
.currency_button:hover {
  background-color: #00512e !important;
  color: #fff;
}

.currency_button:not(:last-child) {
  margin-right: 5px;
}

.currency_button.active {
  background-color: #00512e !important;
  color: #fff;
}
.filter_name {
  display: flex;
  grid-column-gap: 20px;
  margin-top: 40px;
}

.payment_button {
  background-color: #fff;
  color: #989898;
  margin-left: 15px;
  border-color: #fff !important;
  width: 100px;
  border-radius: 10px !important;
}

.payment_button:hover {
  background-color: #00512e !important;
  color: #fff;
}

.payment_button.active {
  background-color: #00512e !important;
  color: #fff;
}

.last_but:hover {
  background-color: #000;
  color: #ffd600;
}
/* .button_percent {
  margin-left: 30px;
} */

@media only screen and (max-width: 1200px) {
  .but_filter_second {
    margin-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .account {
    margin-top: 50px;
  }
  .but_filter_second {
    margin-left: 20px;
  }
  .filter_name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .calc_info {
    grid-template: auto auto / 1fr;
  }
  .payment_button {
    margin-left: 30px;
  }
  .but_group {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 710px) {
  .first_section {
    width: 100%;
  }
  .but_filter_second {
    margin-left: 0;
  }
  .main_calc {
    margin-top: 100px;
  }
  .payment_button {
    width: 100px;
  }
  .button_group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .last_but {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .calc_title_name {
    margin-left: 0;
  }
  .calc_title_line {
    width: 70%;
  }
  .but_filter_second:last-child {
    margin-left: 5px;
  }
}
