.contacts_mainWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.calc_title_name {
  font-weight: 700;
  font-size: 48px;
  height: 58px;
  margin-bottom: 0;
}

.calc_title_line {
  width: 40vw;
  margin-left: calc(50% - 50vw);
  height: 9px;
  background-color: #00512e;
  margin-bottom: 50px;
}

.contacts_image {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.main_address {
  display: grid;
  grid-template: 300px 1fr / 1fr;
  flex-wrap: wrap;
  justify-content: space-between;
}

.adress_map {
  width: 100%;
}

.contacts_wrapper {
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
}

.contacts {
  display: grid;
  grid-template: 1fr / 30px auto;
  grid-column-gap: 20px;
}

.icon {
  color: #989898;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_address {
  color: #00512e;
  font-size: 24px;
}

.info_address {
  align-self: center;
  color: #989898;
  display: flex;
  align-items: center;
}

@media (max-width: 810px) {
  .calc_title_line {
    width: 70vw;
  }
  .contacts_mainWrapper {
    grid-template-columns: 1fr;
  }
}
