.footer {
  background-color: #00512e;
  margin-top: 50px;
  min-width: 98.9vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.container {
  padding: 80px 60px;
  background: radial-gradient(
    circle,
    rgba(92, 39, 251, 1) 0%,
    rgba(112, 71, 247, 1) 100%
  );
}
.wrapper {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    padding: 70px 35px;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    padding: 70px 50px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  grid-row-gap: 20px;
}

.row {
  display: flex;
  grid-column-gap: 30px;

  justify-content: space-between;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .row {
    padding: 0 35px;
  }
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: flex;
}

.link span {
  color: #fff;
}

.title {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  width: 160px;
}

.link:hover {
  color: #ff9c00;
  transition: 200ms ease-in;
}

.inp_footer {
  background-image: url("../assets/img/Vector\ \(2\).png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
  opacity: 0.2;
  width: 225px;
  height: 40px;
  font-size: 14px;
  border-radius: 10px;
}

.inp_footer::placeholder {
  color: red;
  width: 106px;
  padding-left: 10px;
}

.ihsangroup {
  text-align: center;
  padding-bottom: 30px;
  color: #fff;
}

.icons_link {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

@media (max-width: 1100px) {
  .container {
    padding: 70px 30px;
  }
  .row {
    flex-wrap: wrap;
    grid-row-gap: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .link br {
    display: none;
  }
}

@media (max-width: 850px) {
  .feedback {
    display: block;
  }
  .inp_footer {
    width: 80%;
  }
  .main_link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
  }
}

.f_logo {
  width: 100%;
  height: 150px;
  background: no-repeat url("/img/ihs.png") center / contain;
}
