.main_calc {
  margin-top: 100px;
}

.calc_title_name {
  font-weight: 700;
  font-size: 48px;
  height: 58px;
  margin-bottom: 0;
}

.calc_title_line {
  width: 50vw;
  margin-left: calc(50% - 50vw);
  height: 9px;
  background-color: #00512e !important;
}

.kg_map_info {
  display: grid;
  grid-template-columns: 86px auto;
  margin-top: 100px;
}

.kg_map_info span {
  font-size: 24px;
  font-weight: bold;
}

.country {
  margin-left: 10px;
  padding-top: 10px;
}

.main_map {
  width: 110vh !important;
  margin-left: 150px;
}

.rus_map_info {
  display: flex;
  margin-top: -100px;
  margin-bottom: 70px;
}

.rus_map_info span {
  font-size: 24px;
  font-weight: bold;
}

.russian_map {
  display: flex;
  justify-content: flex-end;
}
.russian_map svg {
  width: 100%;
}

.info_contacts {
  max-width: 517px;
  width: 100%;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.07);
  color: #008045;
  z-index: 99;
  background-color: #ffff;
  padding: 35px 25px;
  border-radius: 10px;
}

.info_contacts h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #008045;
  margin: 0;
}

.info_kg {
  width: 100%;
  display: grid;
  grid-template: 65px / auto 150px;
  grid-gap: 11px;
  font-size: 12px;
  margin-top: 20px !important;
}

.street_info {
  background-color: #008045;
  color: #fff;
  padding: 15px 10px;
  display: flex;
  align-items: center;
}

.phone_info {
  background-color: #008045;
  color: #fff;
  text-align: center !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
}
.phone_info div {
  margin-top: 5px;
}

.map_style {
  display: flex;
  position: relative;
}

.close_btn {
  margin-top: 30px;
  width: 100px;
  background-color: #008045;
  display: flex;
  justify-content: center;
}

.map_style {
  display: flex;
  flex-direction: column;
}

.mapDetailWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.kgMap {
  width: 100%;
}
@media only screen and (max-width: 1200px) {
  .main_map {
    width: 50vh !important;
    margin-left: auto;
  }
  .rus_map_info {
    margin-top: 50px;
    text-align: center;
  }
  .map_style {
    display: flex !important;
    justify-content: center !important;
  }
}

@media only screen and (max-width: 800px) {
  .russian_map > div {
    width: 100%;
  }
}

@media only screen and (max-width: 690px) {
  .main_map {
    width: 50vh !important;
  }
  .calc_title_line {
    width: 100%;
    margin-top: 90px;
  }
}

@media only screen and (max-width: 500px) {
  .kg_map {
    width: 400px;
  }
}
