.calc_title_name {
  font-weight: 700 bold;
  font-size: 48px;
  height: 58px;
  margin-bottom: 0;
}

.calc_title_line {
  width: 30vw;
  margin-left: calc(50% - 50vw);
  height: 9px;
  background-color: #00512e;
}

.news_main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 0;
}

.news {
  width: 380px;
  height: 550px;
  padding: 0;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: #fff;
}

.title_name {
  font-size: 24px !important;
  color: #00512e;
  margin-bottom: 5px;
  font-weight: 700 bold;
}

.titleP_main {
  padding-left: 30px;
  font-size: 14px;
  font-weight: 400 bold;
}

.mini_desc {
  color: #989898;
}

.invite {
  color: #989898;
}
@media only screen and (max-width: 1200px) {
  .calc_title_line {
    width: 60vw;
  }
}

@media only screen and (max-width: 690px) {
  .calc_title_line {
    width: 100%;
  }
}
