.first_residen {
  height: 800px;
  background-image: url("../assets/img/catal.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 98.9vw;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
  display: flex;
  align-items: center;
}

.take_res {
  width: calc((50vw - 50%) + 50%);
  min-width: 710px;
  margin: 0 0 0 calc(50% - 50vw);
  height: 394px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 10px 10px 0;
}

.res_but {
  background-color: #ffd600;
  width: 200px;
  height: 50px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: 0;
}

.calc_title_name {
  font-weight: 700;
  font-size: 48px;
  height: 58px;
  margin-bottom: 0;
}

.calc_title_line {
  width: 50vw;
  margin-left: calc(50% - 50vw);
  height: 9px;
  background-color: #00512e;
}
.card__image {
  height: 100%;
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 40px 0 80px;
}
.card {
  width: 320px;
  margin: 10px 40px 50px 0;
  background-color: white;
  box-shadow: 0 68px 41px rgba(0, 0, 0, 0.01), 0 30px 30px rgba(0, 0, 0, 0.02),
    0 8px 17px rgba(0, 0, 0, 0.02), 0 0 0 rgba(0, 0, 0, 0.02);
}

.card__thumb {
  border-radius: 10px;
}
.card:hover .card__caption {
  top: 50%;
  transform: translateY(-40%);
  background-color: white;
  margin: 0 5px;
  border-radius: 10px;
}
.card:hover .card__image {
  transform: translateY(-10px);
}
.card:hover .card__thumb::after {
  top: 0;
}

.card__thumb {
  position: relative;
  max-height: 400px;
  overflow: hidden;
  margin: 0;
  height: 450px;
  background: #000;
}

.card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.card__image {
  transition: 0.5s ease-in-out;
}
.card__caption {
  position: absolute;
  height: 100%;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  transition: 0.3s;
  background: #fff;

  display: grid;
  grid-template-rows: 85px 20px 80px 50px;
  grid-gap: 20px;

  color: #989898;
  padding: 20px;
}

.card__title {
  display: -webkit-box;
  align-self: center;
  max-height: 85px;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  color: #00512e;
}
.card__address {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #989898;
  margin: 0;
}

.card__snippet {
  display: -webkit-box;
  max-height: 150px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-box-orient: vertical;
  margin: 0;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: 0.3s;
  background-color: #ffd600;
  height: 50px;
  text-align: center;
  font-size: 21px;
  border-radius: 10px;
}
.card__button:hover {
  color: white;
  background-color: #ffd600;
}
.disclaimer {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;
  background-color: white;
  transform: translateX(-50%);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
}
.disclaimer__link {
  color: #755d87;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .card__caption {
    top: calc(100% - 110px);
    transform: unset;
  }
  .card__thumb::after {
    top: calc(100% - 140px);
  }
}

@media only screen and (max-width: 780px) {
  .calc_title_line {
    width: 90%;
    margin-left: 0;
  }
  .take_res {
    width: 100%;
    margin: 0;
    border-radius: 10px;
    min-width: unset;
  }
  .halal_icon {
    display: flex;
    justify-content: center;
    padding-left: 0 !important;
  }
  .take_res h1 {
    padding-left: 0 !important;
    text-align: center;
  }
  .button_style {
    display: flex;
    justify-content: center;
    padding-left: 0 !important;
  }
}
@media only screen and (max-width: 650px) {
  .calc_title_line {
    width: 90%;
    margin-left: 0;
    margin-bottom: 50px;
  }
}
